$background-color-main: #87ceeb;
$button-color-main: #4682b4;
$text-color: #ffffff;
$button-hover-color: #365f7c;

$font-main: "Arial", sans-serif;
$font-size-large: 24px;
$font-size-medium: 16px;

$padding-standard: 10px;
$margin-standard: 10px;
